.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
.idea/
.vscode/
build/
.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/Flutter/ephemeral/
ios/DerivedData/
ios/Runner/GeneratedPluginRegistrant.*
ios/RunnerTests/GeneratedPluginRegistrant.*
key.properties
**/*.keystore
**/*.jks
*.log
*.swp
*.tmp
